.leftBarIcons-bg-dark:hover {
  color: #ff96ba !important;
  transition: 0.4s !important;
}

.leftBarIcons-bg-light:hover {
  color: #ff0060 !important;
  transition: 0.4s !important;
}

@media (min-width: 1345px) {
  .leftBar-mobile {
    display: none !important;
  }
}
