/* .footer-background {
  background: linear-gradient(-45deg, #ee7752, #ff0084, #ffd2ff) !important;
  width: 100% !important;
}

.text-font {
  font-family: 'Press Start 2P', cursive !important;
} */
